<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.order.mapper.OrderMapper">
    <select id="findAllByEmp" resultType="com.example.demo.order.model.Order">
        select * from ordermaster where emp=#{emp}
    </select>

    <select id="search2" resultType="com.example.demo.order.model.Order">
        select * from ordermaster
        <where>
            <if test="emp !='' and emp !=null ">
                emp=#{emp}
            </if>
            <if test="id !=0 and id != null ">
                and id=#{id}
            </if>
        </where>
    </select>

</mapper>