#opus-container {
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #bcbcbc;
}
header {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
}
nav {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
}
section {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
}
aside {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
}
footer {
  padding: 20px;
  border: 1px solid #bcbcbc;
}
@media (min-width: 481px) {
  #opus-container {
    width: 940px;
  }
  header {
    clear: both;
  }
  nav {
    clear: both;
  }
  section {
    width: 580px;
    float: left;
  }
  aside {
    width: 260px;
    float: right;
  }
  footer {
    clear: both;
  }
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  color: inherit;
  font: inherit;
  vertical-align: middle;
  box-sizing: border-box;
}

img,
select,
input,
button {
  vertical-align: middle;
}
